yfinance
pandas==1.5.3
numpy==1.26.4
pandas_ta
pandas_datareader
statsmodels
matplotlib
scikit-learn
PyPortfolioOpt
jupyterlab
arch
Flask 
flask_cors
alpaca-py
requests
python-dotenv
streamlit
datetime
scikit-learn


